
<form  class="m-5" [formGroup]="userregisterformgroup" (ngSubmit)="register()">

  <div class="mb-3">
    <label for="fName" class="form-label">Full Name</label>
    <input type="text" formControlName="name" class="form-control"
    name="fName" id="fName" [class.is-valid]="name.valid"
      [class.is-invalid]="name.invalid && name.touched">
    <div [hidden]="name.valid || name.untouched">
      <small *ngIf="name.errors?.['required']" id="helpId" class="form-text text-muted d-block">User Name is
        Required</small>
      <small *ngIf="name.errors?.['minlength']" id="helpId2" class="form-text text-muted d-block">User Name must be 3
        letters at least</small>
      <small *ngIf="name.errors?.['forbiddenName']" id="helpId3" class="form-text text-muted d-block">User name can't be

        {{name.errors?.['forbiddenName']?.value}}</small>
    </div>

  </div>

  <div class="mb-3">
    <label for="uEmail" class="form-label">Email</label>
    <input type="Email" formControlName="email" class="form-control" name="uEmail" id="uEmail" placeholder="">
  </div>
  <div class="mb-3" >
    <label for="uPass" class="form-label">Password</label>
    <input type="password" formControlName="password" class="form-control" name="uPass" id="uPass" placeholder="">
  </div>

  <div class="mb-3" >
    <label for="uPassConfirm" class="form-label">Confirm Password</label>
    <input type="password" formControlName="confirmpassword" class="form-control" name="uPassConfirm" id="uPassConfirm"
      placeholder="">

  </div>


  <div *ngIf="userregisterformgroup.errors?.['passwordMismatch'] && (confirmpassword.touched || password.touched)"
    class="cross-validation-error-message alert alert-danger">
    Password and confirm password don't match.
  </div>

  <div class="form-row">
    <div class="form-group col-md-8 offset-md-5">
  <button [disabled]="userregisterformgroup.invalid" type="submit" class="btn btn-success btn-block">Submit</button>
</div>
</div>
</form>

